:root {
    --green-primary: #00473e; /* Primary 100% och 80% (opacitet?)*/
    --white-bg-color: #f2f7f5; /* text på grön bakgrund och bg på Vår Värdegrund, footer mm*/
    --black: #00332c;
    --white-text: #fffffe; /* bara alumni info-kort? */
    --yellow-btn-bg: #faae2b; /* Secondary 100% och 80% */
    --yellow-btn-pressed: #fcd38c;
}

@font-face {
    font-family: "Calluna";
    src: url("../assets/fonts/Calluna-Regular.woff2") format("woff2"),
        url("../assets/fonts/Calluna-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Chillax";
    src: url("../assets/fonts/Chillax-Regular.woff2") format("woff2"),
        url("../assets/fonts/Chillax-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*** anmalan ***/
.anmalanBox {   
    max-width: 380px;
    max-height: 550px;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    top: 130px;
    font-family: "Chillax";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: var(--white-bg-color);    
}
.anmalanBox .heading {
    top: -20px;
    margin-bottom: 20px;
    font-family: "Calluna";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #f2f7f5;
}
.anmalanBoxText {
    width: 382px;
    max-height: 700px;
    left: 16px;
    top: 200px;
    margin-top: 0px;
    font-family: "Chillax";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #f2f7f5;
}
.ansökbtn.is-style-fill {    
    padding: 0px;
    max-height: 64px;
    max-width: 161px;
    border: none;
    max-height: 64px;
    margin-left: 150px;
    top: 680px;
    background: #faae2b;
    margin-top: 0px;
    margin-bottom: 80px;
    box-shadow: 0px 20px 80px rgba(0, 71, 62, 0.09),
        0px 7.7037px 25.4815px rgba(0, 71, 62, 0.0546667),
        0px 1.62963px 6.51852px rgba(0, 71, 62, 0.0353333);
    border-radius: 8px;
    padding-bottom: 4px;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    font-family: "Chillax";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #00332c;
}
@media screen and (min-width: 1000px) {
    .anmalanBox {        
        width: 100%;
        max-height: 500px;
        padding-left: 370px;
        padding-right: 350px;
    }
    .anmalanBox p {
        width: 1000px;
        max-height: 595px;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.02em;
        color: #f2f7f5;
    }
    .anmalanBox .heading {
        font-size: 72px;
        line-height: 72px;
        color: #f2f7f5;
        height: 72px;
        width: 415px;
        top: -40px;
        margin-top: 30px;
    }
    .ansökbtn.is-style-fill {
        margin-left: 665px;        
        text-align: center;
        margin-top: 20px;
        width: 200px;
    }
}
