:root {
    --green-primary: #00473e; /* Primary 100% och 80% (opacitet?)*/
    --white-bg-color: #f2f7f5; /* text på grön bakgrund och bg på Vår Värdegrund, footer mm*/
    --black: #00332c;
    --white-text: #fffffe; /* bara alumni info-kort? */
    --yellow-btn-bg: #faae2b; /* Secondary 100% och 80% */
    --yellow-btn-pressed: #fcd38c;
}

@font-face {
    font-family: "Calluna";
    src: url("../assets/fonts/Calluna-Regular.woff2") format("woff2"),
        url("../assets/fonts/Calluna-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Chillax";
    src: url("../assets/fonts/Chillax-Regular.woff2") format("woff2"),
        url("../assets/fonts/Chillax-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.home-blocks {
    margin: 0px;
    font-family: "Chillax";
    font-style: normal;
    font-weight: normal;
    color: var(--white-bg-color);
}

.homepage-heading {
    font-family: "Calluna";
    font-style: normal;
    font-weight: normal;
    color: var(--white-bg-color);
}

.hero {
    margin: 0px;
    font-family: "Chillax";
    font-style: normal;
    font-weight: normal;
    background-color: var(--white-bg-color);
}

.wp-block-cover {
    overflow-y: hidden;
}

/* .hero-img {
    height: 100% !important;
    left: -200px !important;
    width: 160% !important;
    top: -50px !important;
} */
.hero-text {
    max-width: 200px;
    margin-left: 100px;
    max-height: 160px;
}

@media screen and (min-width: 415px) {
    .wp-block-cover {
        min-height: 90vh !important;
        margin-top: -70px !important;
    }
    .wp-block-cover__img.wp-block-cover__image-background.wp-image-433 {
        top: -40px !important;
        /* left: -20px !important; */
        width: 100% !important;
    }
    .hero-text {
        max-width: 200px;
        /* margin-left: 600px; */
        margin-left: 70%;
        max-height: 160px;
        font-size: 18px;
    }
}

.alumnis {
    font-family: "Chillax";
    font-style: normal;
    font-weight: normal;
    margin: 0px;
    background-color: var(--white-bg-color);
}

@media screen and (max-width: 414px) {
    /* .alumni-img img */

    .wp-block-media-text__media img {
        height: auto;
        /* width: 100px; */
        overflow-y: hidden;
    }
    .hero-img {
        height: 100% !important;
        left: -200px !important;
        width: 160% !important;
        top: -50px !important;
    }
}

@media screen and (min-width: 415px) {
    /* .alumni-img img { */
    .wp-block-media-text__media img {
        height: auto;
        /* width: 100px; */
        overflow-y: hidden;
    }
    /* .wp-image-244.size-full {
        max-height: 400px;
        max-width: 200px;
        overflow-y: hidden;
        /* aspect-ratio: ; 
    } */
}

.alumnis-heading {
    font-family: "Calluna";
    font-style: normal;
    font-weight: lighter;
}

.alumni-years {
    margin-top: -4px !important;
    margin-bottom: 10px !important;
}

.alumni-quote {
    line-height: 25px;
}
