/* Testing FONTS on box */
.skolkokBox {
    font-family: "Chillax";
    font-style: normal;
    font-weight: normal;
}
.kalendariumBox {
    font-family: "Chillax";
    font-style: normal;
    font-weight: normal;
}
.arshjulBox {
    font-family: "Chillax";
    font-style: normal;
    font-weight: normal;
}
