/* Theme Color Scheme*/
:root {
    --green-primary: #00473e; /* Primary 100% och 80% (opacitet?)*/
    --white-bg-color: #f2f7f5; /* text på grön bakgrund och bg på Vår Värdegrund, footer mm*/
    --black: #00332c;
    --white-text: #fffffe; /* bara alumni info-kort? */
    --yellow-btn-bg: #faae2b; /* Secondary 100% och 80% */
    --yellow-btn-pressed: #fcd38c;
}

/*
  Using color variables, example: 
    .one {
      color: white;
      background-color: var(--green-primary);
    }


    Menyns färger:
    - Länkar default: green bg color 80% , Hover/Klick och underkategorier: 100% 

    Buttons
    - Background default: yellow btn bg
    - Pressed: --yellow-btn-pressed
    - Text: green-primary

    Lägga green-primary som bodys background color??
*/

* {
    margin: 0; 
}

body {
    background-color: var(--green-primary);
    width: 100vw;
    overflow-x: hidden;
}

@font-face {
    font-family: "Calluna";
    src: url("assets/fonts/Calluna-Regular.woff2") format("woff2"),
        url("assets/fonts/Calluna-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Chillax";
    src: url("assets/fonts/Chillax-Regular.woff2") format("woff2"),
        url("assets/fonts/Chillax-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*Properties for Nav-bar*/


/*** HEADER ***/
header {
    background: var(--white-bg-color);
    display: flex;
    top: 0;
    height: 12vh;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    z-index: 2;
    position: fixed;
    width: 100%;
}

nav.navbar-nav {
    margin-right: 50px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: larger;
}

.nav-link:hover {
    text-decoration: underline var(--yellow-btn-bg);
    text-decoration-thickness: 3px;
}

.active {
    text-decoration: underline var(--yellow-btn-bg);
    text-decoration-thickness: 3px;
}


ul.navbar {
    display: flex;
    justify-content: space-between;
}
li.nav-item {
    padding: 10px;
    list-style: none;
}
.nav-link {
    color: inherit;
    text-decoration: none;
}

/*Properties for Hamburger*/
.ham {
    display: none;
    padding: 5px;
    cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
    display: block;
    width: 35px;
    height: 3px;
    margin: 5px auto;
    background-color: #101010;
    transition: 0.4s;
}
/*** MENU + HAMBURHER MENU ***/
@media only screen and (max-width: 768px) {
    * {
        overflow-x: hidden;
    }
    .navbar {
        position: fixed;
        top: 12vh;
        right: 0px;
        flex-direction: column;
        background-color: var(--white-bg-color);
        transition: transform 0.3s ease-in;
        transform: translateY(-200%);
        width: 50%;
    }
    .nav-change {
        transform: translateY(0);
    }
    .ham {
        display: block;
        position: absolute;
        z-index: 1;
        right: 0;
        margin-right: 60px;
    }
    .change .bar1 {
        transform: rotate(45deg) translate(8px, 3px);
    }
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3 {
        transform: rotate(-45deg) translate(8px, -3px);
    }
}

/* Testing FONTS on box */
.skolkokBox {
    font-family: 'Chillax';
    font-style: normal;
    font-weight: normal;
}
.kalendariumBox {
    font-family: 'Chillax';
    font-style: normal;
    font-weight: normal;  
}
.arshjulBox {
    font-family: 'Chillax';
    font-style: normal;
    font-weight: normal; 
}

/*** anmalan ***/
.anmalanBox{
    position: absolute;
    max-width: 380px;  
    height: 448px;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;   
    top: 200px; 
    font-family: 'Chillax';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px; 
    color: #F2F7F5;
}
.anmalanBox .heading{    
    top: -30px;
    margin-bottom: 20px;
    font-family: 'Calluna';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #F2F7F5;
}
.anmalanBox p{
    width: 382px;
    max-height: 700px;
    left: 16px;
    top: 200px;
    margin-top: 0px;    
    font-family: 'Chillax';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;    
    color: #F2F7F5;    
}
.ansökbtn.is-style-fill{
    position: absolute;
    padding: 0px;
    max-height: 64px;
    max-width: 161px;
    border:none;
    max-height: 64px;
    left: 150px;
    top: 680px;
    background: #FAAE2B;  
    margin-top: 20px;
    box-shadow: 0px 20px 80px rgba(0, 71, 62, 0.09), 0px 7.7037px 25.4815px rgba(0, 71, 62, 0.0546667), 0px 1.62963px 6.51852px rgba(0, 71, 62, 0.0353333);
    border-radius: 8px;
    padding-bottom: 4px;
    padding-top: 10px; 
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'Chillax';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #00332C;   
}
@media screen and (min-width: 1000px) {
    .anmalanBox{       
        width: 100%;       
        height: 80vh;   
        padding-left:370px;
        padding-right: 350px; 
    }
    .anmalanBox p{
        width: 1000px;
        max-height: 595px;
        font-size: 24px;
        Line-height: 32px;
        letter-spacing: 0.02em;        
        color: #F2F7F5;     
    }
    .anmalanBox .heading{        
        font-size: 72px;
        line-height: 72px;
        color: #F2F7F5;
        height: 72px;
        width: 415px;
        top: -40px;
        margin-top: -30px;      
    }
    .ansökbtn.is-style-fill{
        left: 665px;
        top: 660px;
        text-align: center;       
        width: 200px;     
    }
}
/*** Kontakt ***/
.map{
    width: 100%;  
    height: 450px;
}
.map iframe{
    width: 100%;  
    height:100%;  
    margin-bottom: 0px;
}
.hittaHit{
    position: absolute;
    width: 100%;    
    left: 0px;
    top: 525px;
    background: #F2F7F5;
    margin-top: 0px;
    padding-top: 20px;
    padding-left: 16px;
    padding-bottom: 16px;
}
.kontaktHeadingOne{
    position: absolute;
    width: 178px;
    height: 48.09px;    
    font-family: 'Calluna';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    color: #00473E;
}
.kontaktPOne{
    width: 382px;
    height: 100%;
    padding-bottom: 0px;
    padding-top: 20px;
    font-family: 'Chillax';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #00473E;
}
.kontaktaOss{
    position: absolute;
    width: 100%;
    left: 16px;
    top: 1188px;
    margin-top: -20px;
    padding-top: 0px;
}
.kontaktHeadingTwo{  
    width: 263px;
    height: 48px;
    left: 16px;
    padding-top: 0px;
    font-family: 'Calluna';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    color: #F2F7F5;
    margin-bottom: 16px;
}
.kontaktaOss h3{
    font-family: 'Calluna';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #F2F7F5;
}
.kontaktPTwo{
    height: 100%;
    width: 100%;
    left: 16px;
    font-family: 'Chillax';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #F2F7F5;
}
@media screen and (min-width: 1000px) {
    .map{
        position: absolute;
        width: 50%;  
        height: 84.1vh;     
        left: 50%;        
    }
    .map iframe{
        padding-right: 44px;
        width: 95%; 
        background: #F2F7F5;      
    }
    .hittaHit{
        position: absolute;
        width: 50%;    
        padding-left: 141px;
        top: 100px;
        background: #F2F7F5; 
        height: 87vh;       
    }
    .kontaktaOss{        
        width: 100%;
        left: 141px;
        top: 780px;
        margin-top: 30px;
        margin-bottom: 50px;       
    }
    .container{    
        padding-bottom: 50px;
        margin-bottom: 50px;
    }
}
/*** Logo ***/
.custom-logo {
    width: 140px;
    height: auto;
    padding: 0.5rem;
  }

  
/**** container ***/ 
.container{
    width: 100%;
    height: 180vh;
}

/**** Footer ****/
footer.footer {
    /* width: 100%; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0px;
    width: 100vw;
    left: 0;
    max-height: 530px;
    padding-bottom: 20px;
    background-color: var(--white-bg-color);
}
.footerLogo {
    width: 200px;
    height: 100px;
}
.footerLogo svg {
    width: 100%;
    height: 100%;
}
div.links ul.links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 8px 16px;
    list-style: none;
    width: 206px;
    height: 184px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 0px;
}
li.link a {
    width: 99px;
    height: 24px;
    left: 53.5px;
    top: 56px;
    font-family: "Calluna";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: var(--green-primary); /*#00332C;*/
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 24px;
}
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    position: static;
    width: 222px;
    height: 112px;
    left: 0px;
    top: 344px;
    color: var(--green-primary); /*#00332C;*/
    font-family: "Chillax";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    flex: none;
    order: 2;
    flex-grow: 0;
}
.adress p,
.phone p,
.email p {
    margin: 0px;
}
@media screen and (min-width: 1000px) {
    footer.footer {
        flex-direction: row;
        height: 360px;
        padding-bottom: 0;
        padding-left: 32px;
        /* padding-right: 32px;     */
    }
    .footerLogo {
        min-width: 400px;
        height: 264px;
        margin-right: 125px;
    }
    div.links {
        width: 400px;
        height: 200px;
        position: absolute;
        right: 0;
        align-items: start;
        margin-right: -50px;
    }
    ul.links {
        width: 360px;
        padding-left: 0;
        padding-right: 0;
        text-align: left;
    }
    li.link {
        width: 360px;
    }
    li.link a {
        width: 360px;
        height: 48px;
        top: 8px;
        font-size: 40px;
        line-height: 63px;
        letter-spacing: 0.01em;
        text-align: start;
    }
    .contact {
        width: 450px;
        height: 200px;
        font-size: 32px;
        line-height: 64px;
        letter-spacing: 0.02em;
        align-items: start;
        text-align: left;
    }
    .adress p,
    .phone p,
    .email p {
        text-align: start;
        align-items: start;
        text-align: left;
    }
}
